/**
 * CALCULADORA
 */
#calculadora input[type=button] {
    margin: 1px;
    width: 33px;
    padding: 5px;
    font-weight: 600;
}
#calculadora input[type=button]:hover {
	background-color: #428bca;
	border-color: #357ebd;
}
.color_settings_box {
    position: fixed;
    right: -200px;
    width: 200px;
    top: 15%;
    padding: 20px;
    background-color: #fff;
    z-index: 9999;
    -webkit-box-shadow: inset 1px 1px 2px 0px #fff, 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 2px 0px #fff, 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-right: none;
    border-radius: 6px 0px 0px 6px
}

.color_settings_box .toggle-color-settings {
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: -3px 0px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -3px 0px 7px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-right: none;
    position: absolute;
    left: -50px;
    top: 40%;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    text-align: center
}

.color_settings_box .toggle-color-settings i {
    line-height: 25px;
    font-size: 20px;
    color: #555
}

.color_settings_box .toggle-color-settings span {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
    display: block;
    vertical-align: top
}

.color_settings_box .toggle-color-settings:hover {
    cursor: pointer
}

.color_settings_box .toggle-color-settings:hover i {
    color: #1D8FD6
}

.color_settings_box .toggle-color-settings:hover span {
    text-decoration: underline
}

.color_settings_box h3 {
    font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px
}

.color_settings_box h3 i {
    margin-right: 5px;
    font-size: 18px;
    color: #555
}

.color_settings_box h3:first-child {
    margin-top: 5px
}

.color_settings_box .checkbox-w {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 10px
}

.color_settings_box .wood-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #5f3c22 url(assets/images/bg-wood.jpg) top left repeat;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
    border: 1px solid #4F4D45;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: -5px
}

.color_settings_box .color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    position: relative
}

.color_settings_box .color-box:hover:after, .color_settings_box .color-box.active:after {
    content: "\f077";
    font-family: FontAwesome;
    position: absolute;
    bottom: -14px;
    left: 6px;
    font-size: 8px;
    color: #333
}

.color_settings_box .color-box-white {
    background-color: #fff
}

.color_settings_box .color-box-grey {
    background-color: #ddd
}

.color_settings_box .color-box-beige {
    background-color: #E5E1D3
}

.color_settings_box .color-box-red {
    background-color: #e74c3c
}

.color_settings_box .color-box-green {
    background-color: #2ECC71
}

.color_settings_box .color-box-green-sea {
    background-color: #16A085
}

.color_settings_box .color-box-blue {
    background-color: #3498db
}

.color_settings_box .color-box-light-blue {
    background-color: #E5F5FC
}

.color_settings_box .color-box-dark-blue {
    background-color: #2c3e50
}

.color_settings_box .color-box-orange {
    background-color: #e67e22
}

.color_settings_box .color-box-linen-dark {
    background-color: #323641;
    background-image: url(assets/images/body-linen.jpg);
    background-repeat: repeat;
    background-position: top left
}

.color_settings_box .color-box-linen-light {
    background-color: #b0b1b4;
    background-image: url(assets/images/linen/linen-grey.jpg);
    background-repeat: repeat;
    background-position: top left
}