body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #4E5356;
}
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    border-collapse: collapse;
    content: "";
    display: table;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0;
}
.ui-helper-zfix {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-front {
    z-index: 100;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F2EFE6;
    border-color: #C1B68B #C1B68B #9B8F65;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px 0 #FFFFFF inset, 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    height: 40px;
    position: absolute;
    width: 40px;
    z-index: 2;
}
.ui-slider .ui-slider-handle:focus {
    outline: medium none;
}
.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}
.ui-slider-horizontal {
    height: 15px;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -20px;
    top: -15px;
    transition: left 0.1s linear 0s;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-vertical {
    height: 100px;
    width: 0.8em;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-bottom: -0.6em;
    margin-left: 0;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.animated-infinite {
    animation-iteration-count: infinite;
}
.delay-animation-one {
    animation-delay: 0.4s;
}
.delay-animation-two {
    animation-delay: 0.5s;
}
.delay-animation-three {
    animation-delay: 1.2s;
}
.delay-animation-four {
    animation-delay: 1.6s;
}
.bottom-margin {
    margin-bottom: 30px;
}
.padded {
    padding: 20px;
}
.padded-more {
    padding: 31px 20px;
}
.relative-w {
    position: relative;
}
.login-logo-w {
    margin-bottom: 15px;
    text-align: center;
}
.login-logo-w .logo {
    color: #F7F7F7;
    margin-bottom: 20px;
}
.login-logo-w .logo i {
    font-size: 90px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.login-logo-w .logo span {
    display: block;
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}
@media (max-width: 768px) {
	.login-logo-w .logo i {
	    font-size: 70px;
	}
	.login-logo-w .logo span {
	    font-size: 30px;
	}
}
.login-logo-w .logo:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.all-wrapper {
    padding: 40px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.all-wrapper {
	    padding: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.all-wrapper {
	    padding: 0 20px 20px;
	}
	.all-wrapper.no-menu-wrapper {
	    padding: 30px;
	}
}
@media (max-width: 768px) {
	.all-wrapper {
	    padding: 0 10px 10px;
	}
	.all-wrapper.no-menu-wrapper {
	    padding: 20px;
	}
}
.side-bar-wrapper {
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.side-bar-wrapper .logo {
    color: #FFFFFF;
    display: block;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}
.side-bar-wrapper .logo i {
    font-size: 90px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.side-bar-wrapper .logo span {
    display: block;
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}
.side-bar-wrapper .logo:hover {
    text-decoration: none;
}
.side-bar-wrapper .search-box {
    margin-bottom: 30px;
    position: relative;
}
.side-bar-wrapper .search-box input.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #272B37;
    border-color: #040405 #14161C #14161C;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4) inset, 0 1px 2px 0 rgba(255, 255, 255, 0.2);
    height: 40px;
}
.side-bar-wrapper .search-box:before {
    color: #464D5B;
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.side-bar-wrapper .side-menu {
    background-color: rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #D3D3D3;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    list-style: none outside none;
    margin-bottom: 30px;
    padding: 0 3px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
@media (max-width: 991px) {
	.side-bar-wrapper .side-menu {
	    margin-bottom: 30px;
	}
}
.side-bar-wrapper .side-menu a:hover {
    text-decoration: none;
}
.side-bar-wrapper .side-menu ul {
    display: none;
    list-style: none outside none;
}
.side-bar-wrapper .side-menu > li {
    margin: 0;
}
.side-bar-wrapper .side-menu > li a {
    border-bottom: 1px solid #D3D3D3;
    border-radius: 0;
    box-shadow: none;
    color: #62686B;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 18px;
    text-transform: uppercase;
}
.side-bar-wrapper .side-menu > li a i {
    border-right: 1px solid #D3D3D3;
    box-shadow: none;
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
    padding-right: 15px;
    text-align: center;
    width: 45px;
	color: #A2A2A2;
}
.side-bar-wrapper .side-menu > li a .badge {
    background-color: #FFFFFF;
    box-shadow: none;
    color: #62686B;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 2px;
    padding: 5px 10px;
}
.side-bar-wrapper .side-menu > li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: none;
}
.side-bar-wrapper .side-menu > li:last-child a {
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.side-bar-wrapper .side-menu > li.active > a, .side-bar-wrapper .side-menu > li.current > a, .side-bar-wrapper .side-menu > li:hover > a {
    background-color: #34495E;
    border-bottom: 1px solid #10161C;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.2) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    margin: 0 -3px;
    padding: 15px 21px;
    position: relative;
}
.side-bar-wrapper .side-menu > li.active > a i, .side-bar-wrapper .side-menu > li.current > a i, .side-bar-wrapper .side-menu > li:hover > a i {
    border-right: 1px solid #10161C;
    box-shadow: 1px 0 0 0 #46627F;
    color: #FFFFFF;
}
.side-bar-wrapper .side-menu > li.active li:first-child a, .side-bar-wrapper .side-menu > li.current li:first-child a, .side-bar-wrapper .side-menu > li:hover li:first-child a {
    box-shadow: none;
}
.side-bar-wrapper .side-menu > li.active li:last-child a, .side-bar-wrapper .side-menu > li.current li:last-child a, .side-bar-wrapper .side-menu > li:hover li:last-child a {
    border-bottom: medium none;
}
.side-bar-wrapper .side-menu > li.active ul, .side-bar-wrapper .side-menu > li.current ul {
    display: block;
}
.side-bar-wrapper .side-menu > li > ul {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #D3D3D3;
    box-shadow: none;
    margin: 0 -3px;
    padding: 0;
}
.side-bar-wrapper .side-menu > li > ul li a {
    border-bottom: 1px solid #D3D3D3;
    box-shadow: none;
    color: #62686B;
    padding: 15px 21px;
}
.side-bar-wrapper .side-menu > li > ul li a:hover {
    background-color: #34495E;
}
.side-bar-wrapper .side-menu > li > ul li i {
    color: #D0D3DB;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.side-bar-wrapper .side-menu > li a {
	    padding: 15px 12px !important;
	}
	.side-bar-wrapper .side-menu > li a i {
	    margin-right: 10px;
	    padding-right: 10px;
	}
	.side-bar-wrapper .side-menu > li.active > a, .side-bar-wrapper .side-menu > li.current > a, .side-bar-wrapper .side-menu > li:hover > a {
	    padding: 15px !important;
	}
	.side-bar-wrapper .side-menu > li.active ul li a, .side-bar-wrapper .side-menu > li.current ul li a, .side-bar-wrapper .side-menu > li li ul li a {
	    padding: 15px !important;
	}
}
.side-bar-wrapper .side-menu .badge.badge-notifications {
    background-color: #B5A370;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(255, 255, 255, 0.2) inset;
    color: #4F4836;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 5px 10px;
}
.alert-animated {
    animation: 1s ease 0s normal none infinite animated-alert;
    background-color: #B5A370;
}
@-moz-keyframes animated-alert {
	0% {
	    background-color: #FFBF00;
	}
	50% {
	    background-color: #B5A370;
	}
	100% {
	    background-color: #FFBF00;
	}
}
@-moz-keyframes animated-alert {
	0% {
	    background-color: #FFBF00;
	}
	50% {
	    background-color: #B5A370;
	}
	100% {
	    background-color: #FFBF00;
	}
}
.content-wrapper .content-inner {
    border-radius: 4px;
    box-shadow: 0 2px 40px 2px rgba(0, 0, 0, 0.8);
}

.content-wrapper .content-inner .main-content {
    background-color: #FFFFFF;
}
.content-wrapper .content-inner .main-content .section-title {
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
}
.content-wrapper .content-inner .main-content .section{
    margin-top: 15px;
}
.content-wrapper .content-inner .main-content .shadowed-bottom {
    background-color: #F7F7F7;
}
.content-wrapper .content-inner .main-content .widget .widget-content-white.glossed {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.content-wrapper .content-inner .breadcrumb {
    background-color: #FFFFFF;
	margin-bottom: 0;
}
.content-wrapper .content-inner .breadcrumb a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F9F9;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #444444;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.content-wrapper.wood-wrapper {
	    border-radius: 15px;
	    padding: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.content-wrapper.wood-wrapper {
	    border-radius: 10px;
	    padding: 20px;
	}
}
@media (max-width: 768px) {
	.content-wrapper.wood-wrapper {
	    border-radius: 10px;
	    padding: 20px;
	}
}
.content-wrapper.bold-shadow .content-inner {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
}
.content-wrapper .page-header {
    background-color: #34495E;
    border: 1px solid;
    border-color: #10161C #10161C #19232D;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    margin: 0 -1px;
    padding: 15px 20px;
    position: relative;
    z-index: 20;
	color: #FFFFFF;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.content-wrapper .page-header h1 {
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}
.content-wrapper .page-header h1 i {
    font-size: 32px;
    margin-right: 10px;
}
.content-wrapper .page-header .header-links {
    border-bottom: 1px solid #2B3C4E;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    float: right;
    margin-top: -10px;
    padding-bottom: 5px;
}
.content-wrapper .page-header .header-links > a {
    border-left: 1px solid #46627F;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 300;
    margin: 0 5px;
    padding: 0 5px;
    text-transform: uppercase;
}
.content-wrapper .page-header .header-links > a:first-child {
    border-left: medium none;
}
.content-wrapper .page-header .header-links > a:hover {
    text-decoration: none;
}
.content-wrapper .page-header .header-links > a:hover i {
    color: #FFFFFF;
}
.content-wrapper .page-header .header-links > a i {
    color: #587CA0;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
@media (max-width: 768px) {
	.content-wrapper .page-header .header-links {
	    float: none;
	    margin-bottom: 10px;
	}
	.content-wrapper .page-header .header-links > a {
	    border-left: medium none;
	}
	.content-wrapper .page-header .header-links > a:first-child {
	    margin-left: 0;
	    padding-left: 0;
	}
	.content-wrapper .page-header .header-links > a i {
	    display: none;
	}
}
.content-wrapper .main-content {
    background-color: #F3EEE7;
    border-radius: 0 0 4px 4px;
    border-top: medium none;
    box-shadow: 2px 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    padding: 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.content-wrapper .main-content {
	    padding: 20px;
	}
}
@media (max-width: 768px) {
	.content-wrapper .main-content {
	    padding: 15px;
	}
}
.content-wrapper .main-content.main-content-white {
    background-color: #FFFFFF;
}
.content-wrapper .main-content.main-content-grey-gradient {
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px 0 #FFFFFF inset, 0 -3px 0 0 rgba(0, 0, 0, 0.04) inset;
    padding: 15px;
}
.content-wrapper .main-content.main-content-grey-gradient .main-content-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EFEFEF;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%);
    background-repeat: repeat-x;
    border-color: #AAAAAA #BBBBBB #BBBBBB #AAAAAA;
    border-image: none;
    border-radius: 4px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 4px 0 #DDDDDD inset, 0 2px 3px 0 #FFFFFF;
    padding: 30px;
}
.content-wrapper .main-content.no-page-header {
    border-radius: 4px;
}
body {
    background-color: #ECECEC;
    background-image: none;
}
body .content-wrapper .content-inner {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
}
body .side-bar-wrapper .logo i {
    color: #62686B;
    text-shadow: none;
}
body .side-bar-wrapper .logo span {
    color: #62686B;
    text-shadow: none;
	font-weight: bolder;
}
body .side-menu > li.active > a .badge, body .side-menu > li.current > a .badge, body .side-menu > li:hover > a .badge {
   	background-color: #34495E;
    border-bottom: 1px solid #10161C;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.2) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
body .search-box input.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F1F1F1;
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px 0 rgba(255, 255, 255, 0.2);
}
body .search-box:before {
    color: #D3D3D3;
}
.shadowed-bottom {
    background-color: #F9F7F4;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05) inset, 1px 1px 2px 0 #FFFFFF inset;
    padding: 20px;
}
.section-title {
    border-bottom: 1px solid #E0DACF;
    color: #493A38;
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.section-title i {
    font-size: 26px;
    margin-right: 10px;
}
.section-title.first-title {
    margin-top: 0;
}
.section-title.more-margin {
    margin-bottom: 40px;
}
.section-sub-title {
    border-bottom: 1px solid #E0DACF;
    color: #493A38;
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.section-sub-title i {
    font-size: 26px;
    margin-right: 10px;
}
.section-sub-title.first-title {
    margin-top: 0;
}
.widget {
    animation-delay: 0s;
    animation-duration: 0.5s;
    margin-bottom: 50px;
}
.widget .widget-content-white {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CECAC4 #CECAC4 #B2ACA4;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.widget .widget-content-white.glossed {
    background-color: #F9F8F7;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 1px 2px 2px 0 #FFFFFF inset;
}
.widget .widget-content-white.glossed .value-self {
    text-shadow: 1px 1px 2px #FFFFFF;
}
.widget .widget-content-blue-wrapper {
    background-color: #E3F0FA;
    border: 1px solid #617C8C;
    border-radius: 8px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 #FFFFFF inset, 0 -3px 0 0 rgba(0, 0, 0, 0.04) inset;
    margin-bottom: 20px;
    padding: 15px;
}
.widget .widget-content-blue-wrapper .widget-content-blue-inner {
    background-color: #F7FAFD;
    border: 1px solid #557E9D;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0 #BECFDC inset, 0 2px 3px 0 #FFFFFF;
}
.widget .widget-content-blue-wrapper .padded {
    padding: 20px 10px;
}
.widget .widget-content-embossed {
    background-color: #EAE3DA;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px 0 #FFFFFF;
    padding: 20px;
}
.widget .widget-controls a {
    color: #BAB7AD;
    font-size: 18px;
    line-height: 30px;
    margin-left: 5px;
    text-shadow: 0 2px 2px #FFFFFF;
}
.widget .widget-controls a:hover {
    color: #5B5959;
    text-decoration: none;
}
.widget .widget-content-white .widget-controls a {
    color: #C9C8C3;
}
.breadcrumb {
    border-bottom: 1px solid #DBD6CE;
    box-shadow: 0 1px 0 0 #FFFFFF;
    font-size: 12px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 19;
}
.breadcrumb li {
    margin-right: 5px;
}
.breadcrumb a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F7F4;
    border-color: #CCC5B9 #CCC5B9 #C1B9AA;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 #FFFFFF inset, 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    color: #937A69;
    display: block;
    padding: 5px 10px;
}
.pre-value-block {
    border-bottom: 1px solid #D8D7D2;
    box-shadow: 0 2px 0 0 #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.pre-value-block i {
    font-size: 20px;
    margin-right: 10px;
}
.bordered {
    border-right: 1px solid #DDDDDD;
    box-shadow: 1px 0 0 0 #FFFFFF;
}
@media (max-width: 768px) {
	.bordered {
	    border-bottom: 1px solid #DDDDDD;
	    border-right: medium none;
	    box-shadow: 0 1px 0 0 #FFFFFF;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
	}
}
.value-block {
    padding: 10px 0;
}
.value-block .value-self {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}
.value-block .value-sub {
    color: #7A7979;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.value-block.value-bigger .value-self {
    font-size: 36px;
    line-height: 40px;
}
.value-block.value-bigger .value-sub {
    font-size: 12px;
}
@media (max-width: 480px) {
	.value-block.value-bigger {
	    text-align: center;
	}
}
.value-block .changed-icon {
    font-size: 12px;
}
.value-block .changed-value {
    font-size: 12px;
}
.changed-up .changed-icon {
    color: #65724A;
}
.changed-up .changed-value {
    background-color: #D9EFAE;
    color: #485430;
    padding: 6px 10px;
}
.changed-down .changed-icon {
    color: #82403F;
}
.changed-down .changed-value {
    background-color: #F7BCBB;
    color: #843C3B;
    padding: 6px 10px;
}
.form-period-selector .form-control {
    width: 45%;
}
@media (min-width: 480px) and (max-width: 767px) {
	.form-period-selector .form-control {
	    display: inline-block;
	}
}
@media (max-width: 480px) {
	.form-period-selector .form-control {
	    margin-bottom: 10px;
	    width: 100%;
	}
}
.fc-header {
    background-color: #F9F7F4;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05) inset, 1px 1px 2px 0 #FFFFFF inset;
}
.fc-header td {
    padding: 20px;
}
.fc-header h2 {
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.fc-content {
    padding: 20px;
}
.fc-event {
    background-color: #F7E7DF;
    border-color: #EDBDA8;
    color: #424242;
}
table .checkbox {
    margin: 0;
}
.datatable {
    margin-top: 10px !important;
}
.form-title {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 0 #FFFFFF;
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.form-title i {
    color: #444342;
    font-size: 22px;
    margin-right: 10px;
}
.form-title.form-title-first {
    margin-top: 0;
}
.alerts-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ui-slider-i {
    background-color: #F7F5ED;
    border-radius: 10px;
    padding: 10px;
}
.ui-slider {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EDE8D3;
    border-color: #9E905D #B5A982 #D8D2BC;
    border-image: none;
    border-left: 1px solid #B5A982;
    border-radius: 6px;
    border-right: 1px solid #B5A982;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15) inset, 0 2px 2px 0 #FFFFFF;
}
.bs-example > .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}
.bs-example .btn-toolbar {
    margin-bottom: 10px;
}
.the-icons {
    color: #6B695D;
    font-size: 12px;
    line-height: 30px;
}
.the-icons i {
    color: #3F3E38;
    font-size: 18px;
    margin-right: 5px;
}
@media (min-width: 767px) {
	.some-left-padding {
	    padding-left: 10%;
	}
}

/** NAV **/
.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav:before, .nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav > li {
    display: block;
    position: relative;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav > li.disabled > a {
    color: #999999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #999999;
    cursor: not-allowed;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #EEEEEE;
    border-color: #2980B9;
}
.nav .nav-divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    padding-left: 10px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    background-color: #F4F2EF;
    border: 1px solid #CECAC4;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.05) inset;
    color: #493A38;
    font-family: "Oswald","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    margin-right: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.nav-tabs > li > a i {
    font-size: 18px;
    margin-right: 10px;
}
.nav-tabs > li > a:hover {
    background-color: #FFFFFF;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F8F7;
    border-color: #CECAC4 #CECAC4 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 8px 0 0 #F9F8F7, 0 2px 8px 0 rgba(0, 0, 0, 0.15), 1px 2px 2px 0 #FFFFFF inset;
    color: #555555;
    cursor: default;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
}
@media (min-width: 768px) {
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #DDDDDD;
    margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
    border-bottom-color: #323641;
}
@media (max-width: 480px) {
.nav-tabs {
    padding: 0 5px;
}
.nav-tabs li {
    float: none;
    margin: 0;
}
.nav-tabs li a {
    border-bottom: medium none !important;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 15px;
}
.nav-tabs li.active > a, .nav-tabs li.active > a:hover, .nav-tabs li.active > a:focus {
    background-color: #FFFFFF;
    box-shadow: none;
}
}
.nav-pills {
    margin-bottom: 10px;
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    color: #3F3833;
    padding: 5px 15px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #EAE3DA;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px 0 #FFFFFF;
    color: #3F3833;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 2px;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    text-align: center;
}
@media (min-width: 768px) {
.nav-justified > li {
    display: table-cell;
    width: 1%;
}
}
.nav-tabs-justified {
    border-bottom: 0 none;
}
.nav-tabs-justified > li > a {
    border-bottom: 1px solid #DDDDDD;
    margin-right: 0;
}
.nav-tabs-justified > .active > a {
    border-bottom-color: #323641;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tabbable:before, .tabbable:after {
    content: " ";
    display: table;
}
.tabbable:after {
    clear: both;
}
.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F8F7;
    border-color: #CECAC4 #CECAC4 #B2ACA4;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 1px 2px 2px 0 #FFFFFF inset;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}
.tab-content > .active, .pill-content > .active {
    display: block;
}
.nav .caret {
    border-bottom-color: #2980B9;
    border-top-color: #2980B9;
}
.nav a:hover .caret {
    border-bottom-color: #1B557A;
    border-top-color: #1B557A;
}
.nav-tabs .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}
.navbar {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
    z-index: 1000;
}
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
@media (min-width: 768px) {
.navbar {
    border-radius: 0;
}
}
.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}
.navbar-header:after {
    clear: both;
}
.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}
.navbar-header:after {
    clear: both;
}
@media (min-width: 768px) {
.navbar-header {
    float: left;
}
}
.navbar-collapse {
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 992px) {
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.navbar-collapse .navbar-text:last-child {
    margin-right: 0;
}
}
@media (min-width: 768px) {
.container > .navbar-header, .container > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}
}
.navbar-static-top {
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
.navbar-static-top {
    border-radius: 0;
}
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-width: 0 0 1px;
    left: 0;
    position: fixed;
    right: 0;
}
@media (min-width: 768px) {
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
}
.navbar-fixed-top {
    top: 0;
    z-index: 1030;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 0;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
@media (min-width: 768px) {
.navbar > .container .navbar-brand {
    margin-left: 0;
}
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}
.navbar-toggle .icon-bar {
    background-color: #828689;
    border-radius: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 1px 1px 0 #C8CBCE inset;
    display: block;
    height: 4px;
    width: 35px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}
@media (min-width: 992px) {
.navbar-toggle {
    display: none;
}
}
.navbar-nav {
    margin: 7.5px 0;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}
.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
}
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
}
}
@media (min-width: 768px) {
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}
}
@media (min-width: 768px) {
.navbar-left {
    float: left !important;
}
.navbar-right {
    float: right !important;
}
}
.navbar-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 8px 0;
    padding: 10px 0;
}
@media (min-width: 768px) {
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.navbar-form .form-control {
    display: inline-block;
}
.navbar-form .radio, .navbar-form .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
}
}
@media (max-width: 767px) {
.navbar-form .form-group {
    margin-bottom: 5px;
}
}
@media (min-width: 768px) {
.navbar-form {
    border: 0 none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}
}
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.navbar-btn {
    margin-bottom: 8px;
    margin-top: 8px;
}
.navbar-text {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
}
@media (min-width: 768px) {
.navbar-text {
    margin-left: 0;
    margin-right: 0;
}
}
.navbar-default {
    background-color: #FFFFFF;
}
.navbar-default .navbar-brand {
    color: #777777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-default .navbar-text {
    color: #777777;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #333333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #0088CC;
    color: #555555;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #CCCCCC;
}
.navbar-default .navbar-toggle {
    border-color: #DDDDDD;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #DDDDDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCCCCC;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #22252D;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #333333;
    border-top-color: #333333;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #0088CC;
    color: #555555;
}
.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #555555;
    border-top-color: #555555;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #777777;
    border-top-color: #777777;
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #333333;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #0088CC;
    color: #555555;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #CCCCCC;
}
}
.navbar-default .navbar-link {
    color: #777777;
}
.navbar-default .navbar-link:hover {
    color: #333333;
}
.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: #999999;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.navbar-inverse .navbar-text {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #080808;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #444444;
}
.navbar-inverse .navbar-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #999999;
    border-top-color: #999999;
}
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #080808;
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #444444;
}
}
.navbar-inverse .navbar-link {
    color: #999999;
}
.navbar-inverse .navbar-link:hover {
    color: #FFFFFF;
}


.form-control {
	font-weight: normal;
}
.btn-round {
    border-radius: 30px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.breadcrumb > li + li:before {
    content: none;
}
.table.dataTable {
	border-collapse: collapse;
}
table.dataTable thead th {
	border-bottom: medium none !important;
}
hr {
	margin: 10px 0;
	border-color: #D3D3D3;
}
label.status:hover{
	font-weight: bold;
}
.custom-field {
	float: left;
	width: 200px;
	margin-left: 5px;
}
.custom-field:first-child {
	margin-left: 15px
}
.custom-field:last-child {
	width: 70px;
}
table .nowrap {
	white-space: pre;
}
#up, #down {
    cursor: pointer;
    margin: 7px 0;
    text-align: center;
}
#up { border-bottom: 1px solid #CCCCCC;	}
#down { border-top: 1px solid #CCCCCC; }
.btn-primary {
  	background-color: #485B6E;
    border-color: #2F4255;
}
.btn-primary:hover {
  	background-color: #34495E;
    border-color: #2A3A4B;
}
.qtds {
    font-weight:bold;
    margin-right:5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
#tabelaLeads .past .dataPeriodo {
	font-weight: bold;
	color: #8A8A8A;
}
#tabelaLeads .future .dataPeriodo {
    font-weight: bold;
    color: #8a6d3b;
}
#tabelaLeads .present .dataPeriodo {
    font-weight: bold;
    color: #3c763d;
}


/* Autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #31708f; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/* Select2 */
.select2-container--default .select2-selection--single {
	height: 33px !important;
	border: 1px solid #ccc !important;
}
.has-error .select2-container--default .select2-selection--single {
	border-color: #a94442 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 30px !important;
}

/* Status leads */
#tabelaLeads td { vertical-align: middle; }
#tabelaLeads span.label { font-size:10px; }
span.label.leadStatus-1 { background-color: #999999; } /* contato */
span.label.leadStatus-2 { background-color: #F0AD4E; } /* reunião */
span.label.leadStatus-3 { background-color: #6bc5e1; } /* proposta */
span.label.leadStatus-4 { background-color: #7EA568; } /* ganha */
span.label.leadStatus-5 { background-color: #CC6766; } /* perdida */

/* Status leads buttons */

.optButtons .optStatus-1 { background-color: #e6e6e6; color: #595959; }
.optButtons .optStatus-1.active { background-color: #999999; border-color: #999999; }
.optButtons .optStatus-2 { background-color: #fbe9d0; color: #8d570c; }
.optButtons .optStatus-2.active { background-color: #F0AD4E; border-color: #F0AD4E; }
.optButtons .optStatus-3 { background-color: #d5eef6; color: #1a677f; }
.optButtons .optStatus-3.active { background-color: #6bc5e1; border-color: #6bc5e1; }
.optButtons .optStatus-4 { background-color: #e4ecdf; color: #3c5030; }
.optButtons .optStatus-4.active { background-color: #7EA568; border-color: #7EA568; }
.optButtons .optStatus-5 { background-color: #f2d9d9; color: #862e2d; }
.optButtons .optStatus-5.active { background-color: #CC6766; border-color: #CC6766; }
.optButtons .active { font-weight:bolder; color:#FFF; }


/* Icon Bnts */
.btTable:hover, .btChart:hover {
    cursor:pointer;
    font-weight:bold;
}

/* Item */
.infofilter {
    box-shadow: 0 1px 0 0 #FFFFFF;
    font-size: 12px;
    position: relative;
}

.infofilter span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F9F7F4;
    border-color: #CCC5B9 #CCC5B9 #C1B9AA;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 #FFFFFF inset, 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    color: #444444;
    display: block;
    padding: 4px 10px;
	font-style: normal;
	float: left;
	margin-right: 5px;
}
.blocoConcorrentes {
	height: 200px;
	overflow:auto;
}
.blocoConcorrentes ul {
    list-style: none;
    padding-left: 0;
}
.blocoConcorrentes label {
	font-weight: normal;
}
.blocoConcorrentes input {
    margin-right: 10px;
}
.vendaRepComercial input, .contaEstrategica input {
	margin-right: 5px;
	margin-top: 15px;
}
#donut-chart svg {
	top: -15px !important
}
div.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 8px;
    background-color: transparent;
    width: 350px;
}

.horario_salas {
    white-space: normal;
}

i.fa.fa-edit {
    font-size: 20px;
    position: absolute;
}